<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Welcome Page</title>
</head>
<body>
<!--Text-->
<h1>Student welcome page</h1>
<h2 th:text="${ 'Hello ' + name}"></h2>
<h2 th:text="${ 'Age: ' + age}"></h2>
<h2 th:text="${ 'Current course: '+ course}"></h2>
<h2 th:text="subject"></h2>
<h2 th:text="${stuID}"></h2>
<h2 th:text="${number}"></h2>
<h2 th:text="${bday}"></h2>

<h2 th:text="${student.getId()}"></h2>
<h2 th:text="${student.firstname}"></h2>


<!--link-->
<a th:href="@{http://www.amazon.com}">Amazon</a><br>
<a th:href="@{/student/register}">Register</a><br>


<!--Adding parameters to link-->
<a th:href="@{/student/welcome(id=2)}">Link3</a><br>
<a th:href="@{/student/welcome(id=${student.getId()})}">Link4</a>

<!--Iteration-->
<ul>
    <li th:each="num : ${number}" th:text="${num}" ></li>
</ul>

<!--Fragment-->
<div th:replace="fragments/footer ::footer"></div>





</body>
</html>