<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="javaCourse" class="com.company.services.services.Java">
        <property name="extraSessions" ref="officeHours"></property>
    </bean>
    <bean id="seleniumCourse" class="com.company.services.Selenium">
        <constructor-arg ref="officeHours"/>
    </bean>
    <bean id="officeHours" class="com.company.services.OfficeHours"></bean>
</beans>